@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gunterz";
  src: url("./assets/fonts/Gunterz-Regular.ttf");
}
@font-face {
  font-family: "Nord-bold";
  src: url("./assets/fonts/NORD-Bold.ttf");
}
@font-face {
  font-family: "Nord-medium";
  src: url("./assets/fonts/NORD-Medium.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Nord-medium";
  src: url("./assets/fonts/NORD-Medium.ttf");
}

.custom-input {
  @apply border border-[#455668] bg-[#121427] rounded-lg py-2 transition-all;
}

.custom-input:focus-within {
  @apply border-[#3B82F6];
}

.custom-input.error {
  @apply border-red-500;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #121427 inset !important;
  -webkit-text-fill-color: white !important;
}
